<% include partials/header %>

<h1>Sign Up Page</h1>
<form action="/register" method="POST">
	<input type="text" placeholder="Username" name="username">
	<input type="password" placeholder="Password" name="password">
	<button>Register</button>
</form>

<% include partials/footer %>